$icons_width:30px;
$icons_height:30px;

// ===TEXT COLOR===
$text_color_small:#EFEFEF;
$text_color_large:#FFFFFF;
$text_color_mp:#000000;

// === FONTS ===
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";

$font-family:  "Roboto", sans-serif;