.header_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: "head";
}

.icons {
    width: $icons_width;
    height: $icons_height;
}
.search_input::placeholder {
    color: $text_color_small;
}
.search_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    color: $text_color_small;
    height: 60px;
    width: 330px;
}
#product_name{
    color: $text_color_large;
    font-size: 25px;
}
.register_buttons{
    display: flex;
    gap: 20px;
}