.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(@/shared/assets/images/bg_photo.jpg) no-repeat center/cover;
  height: 100vh;
  width: 100vw;
}
.glass_container {
  height:95%;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
